* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $ui-color-dark;
  width: 800px;
  overflow-x: hidden;

  main {
    position: absolute;
    left: 100px;

    .moduleWrapper {
      position: absolute;
      margin-top: 10px;
    }
  }
}

#constructionIcon {
  scale: 8;
  fill: $main-txt-color;
  position: absolute;
  top: 300px;
  left: 450px;
}
