$ui-color-dark: #181818;
$ui-color-medium: #211e1d;

$main-txt-color: #dbb997;
$secondary-txt-color: #faf9c4;

$pos-button-color: #4a612f;
$neg-button-color: #61372f;

$common-color: #ffffff;
$uncommon-color: #1eff00;
$rare-color: #0070dd;
$epic-color: #a335ee;
$legendary-color: #ff8000;
