$primary-text-color: #ffffff;
$secondary-text-color: #737373;
$accent-color: #e9c176;
$secondary-accent-color: #dbb997;

$main-background-color: #181818;
$card-background-color: #201f1f;
$card-element-background-color: #2a2a2a;

$common-color: #ffffff;
$uncommon-color: #4caf50;
$rare-color: #0070dd;
$epic-color: #a335ee;
$legendary-color: #ff8000;
$mythic-color: #ff0080;

// DEPRACATED
$ui-color-dark: #181818;
$ui-color-medium: #211e1d;
$main-txt-color: #dbb997;
$secondary-txt-color: #737373;
$pos-button-color: #4a612f;
$neg-button-color: #61372f;
